@-moz-document url-prefix() {
	main.resultados {
		aside {
			.buscar {
				select {
					padding: 4px 4px 4px 6px;
				}
			}
		}
	}
}

main.resultados {
	aside {
		h2 {
			border-bottom: 3px solid $color-t3;
			color: $color-t3;
			font-size: 18px;
			font-weight: 700;
			margin-top: 12px;
			padding-bottom: 10px;
		}
		form {
			input[type="checkbox"] {
				&+label.activo {
					&:before {
						background-image: url("#{$img-constante}");
						background-position: -177px -277px;
						background-repeat: no-repeat;
					}
				}
			}
			label {
				color: $color-t3;
				cursor: pointer;
				font-size: 14px;
				line-height: 14px;
				margin: 0;
				span {
					color: $color-t6;
				}
				&:before {
					background-color: #FFFFFF;
					border: 1px solid $color-t4;
					content: "";
					display: inline-block;
					height: 15px;
					margin-right: 10px;
					position: relative;
					top: 2px;
					width: 15px;
				}
				&:hover {
					&:before {
						border: 2px solid $color-t3;
					}
				}
				&.activo {
					font-weight: 700;
					&:before {
						background-color: $color-t3;
						border: none;
					}
				}
			}
		}
	}
	.buscar {
		background: #ececec;
		border: 1px solid $color-t4;
		padding: 8px 15px 10px 15px;
		h2 {
			border-bottom: 1px solid #b9b9b9;
			font-weight: 400;
			margin: 0 0 18px 0;
			padding-bottom: 11px;
		}
		div {
			overflow: hidden;
			position: relative;
			input[type="checkbox"] {
				left: 0;
				position: absolute;
				top: -200%;
			}
			label {
				letter-spacing: -1px;
			}
			&.restaurante {

			}
			&.fecha {
				input {
					width: 76px;
				}
				span {
					top: 4px;
				}
			}
			&.horario,
			&.cantidad {
				display: inline-block;
				span {
					top: 5px;
				}
			}
			&.horario {
				select {
					width: 90px;
				}
			}
			&.cantidad {
				select {
					width: 50px;
				}
			}
			span.glyphicon {
				color: $color-t4;
				margin-left: 2px;
				font-size: 18px;
				position: relative;
			}
		}
		div>input,
		select {
			background: #FFFFFF;
			border: 1px solid #c2c2c2;
			color: $color-t4;
			font-size: 11px;
			font-style: italic;
			height: 28px;
			&:focus {
				color: $color-t1;
				font-style: normal;
			}
		}
		div>input {
			padding: 0 6px;
			width: 100%;
		}
		select {
			padding-left: 6px;
		}
		label {
			cursor: pointer;
		}
		.btn {
			height: 36px;
			font-weight: 700;
			margin-top: 7px;
			width: 100%;
		}
		::-webkit-input-placeholder {
			color: $color-t4;
			font-style: italic;
		}

		:-moz-placeholder {
			color: $color-t4;
			font-style: italic;
			opacity: 1;
		}

		::-moz-placeholder {
			color: $color-t4;
			font-style: italic;
			opacity: 1;
		}

		:-ms-input-placeholder {
			color: $color-t4;
			font-style: italic;
		}
	}
	.filtros {
		h2 {
			border-bottom-color: $color-t1;
			margin-top: 12px;
		}
		fieldset {
			&>div {
				-webkit-margin-collapse: separate;
				margin-top: 6px;
				overflow: hidden;
				position: relative;
			}
			&+fieldset {
				margin-top: 25px;
			}
			&.abierto {
				legend {
					&:after {
						content: "\e114";
					}
					&:hover {
						&:after {
							content: "\e113";
						}
					}
				}
			}
			&.cerrado {
				overflow: -moz-hidden-unscrollable;
				legend {
					&:after {
						content: "\e113";
					}
					&:hover {
						&:after {
							content: "\e114";
						}
					}
				}
			}
		}
		legend {
			border: none;
			color: $color-t1;
			cursor: pointer;
			font-size: 15px;
			line-height: 14px;
			margin-bottom: 0;
			&:after {
				font-family: "Glyphicons Halflings";
				
				color: $color-t3;
				float: right;
				font-size: 12px;
			}
			&:hover {
				color: $color-v1;
				&:after {
					color: $color-v1;
				}
			}
		}
		input[type="radio"]+label {
			&:before {
				border-radius: 100%;
			}
		}
		input[type="checkbox"],
		input[type="radio"] {
			left: 0;
			position: absolute;
			top: -100%;
		}
		div.ver-mas {
			color: $color-t3;
			cursor: pointer;
			margin-left: 25px;
			font-weight: 700;
			&:after {
				font-family: "Glyphicons Halflings";
				content: "\e072";
				font-size: 8px;
				margin-left: 4px;
			}
			&:hover {
				color: $color-v1;
			}
		}
	}
	.vistos {
		margin-bottom: 30px;
		margin-top: 30px;
		article {
			background: #ececec;
			min-height: 98px;
			padding: 3px 3px 3px 116px;
			position: relative;
			&+article {
				margin-top: 2px;
			}
			h3 {
				margin: 0;
				line-height: 10px;
				margin-bottom: 4px;
				a {
					font-size: 15px;
					font-weight: 600;
					&:hover {
						text-decoration: none;
					}
				}
			}
			dl {
				margin: 0;
			}
			dd {
				color: $color-t3;
				font-size: 12px;
				line-height: 14px;
				em {
					font-style: normal;
					font-weight: 700;
					text-transform: uppercase;
				}
				&.calificacion,
				&.puntaje {
					display: inline-block;
					letter-spacing: -0.5px;
				}
			}
			.imagen {
				display: block;
				height: 91px;
				left: 3px;
				overflow: hidden;
				position: absolute;
				top: 3px;
				width: 108px;
			}
		}
	}
	.top-busquedas {
		li {
			display: inline-block;
		}
		a {
			color: $color-t3;
			line-height: 20px;
			&:hover {
				color: $color-v1;
				text-decoration: none;
			}
			&.nivel-01,
			&.nivel-02,
			&.nivel-03 {
				font-weight: 600;
			}
			&.nivel-04,
			&.nivel-05,
			&.nivel-06 {
				font-weight: 700;
			}
			&.nivel-01 {
				font-size: 14px;
			}
			&.nivel-02 {
				font-size: 16px;
			}
			&.nivel-03 {
				font-size: 18px;
			}
			&.nivel-04 {
				font-size: 20px;
			}
			&.nivel-05 {
				font-size: 22px;
			}
			&.nivel-06 {
				font-size: 24px;
			}
		}
	}
}

@media (max-width: 991px) {
	main.resultados {
		aside {
			padding-top: 10px;
			form {
				.restaurante,
				.fecha,
				.horario,
				.cantidad,
				.check {
					float: left;
				}
				.check {
					margin-top: 8px;
					&+.check {
						margin-left: 15px;
					}
				}
				.fecha,
				.horario,
				.cantidad {
					margin-left: 15px;
				}
				.fecha {
					width: 100px;
				}
				.horario {
					width: 114px;
				}
				.cantidad {
					width: 76px;
				}
			}
		}
	}
}

@media (min-width: 640px) and (max-width: 767px) {
	main.resultados {
		aside {
			form {
				.restaurante {
					width: 243px;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	main.resultados {
		aside {
			form {
				.restaurante {
					width: 353px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	main.resultados {
		div.aside {
			padding-right: 3px;
		}
		aside {
			form {
				.cantidad {
					margin-left: 6px;
				}
			}
			.buscar {
				div {
					&+div {
						margin-top: 10px;
					}
				}
			}
		}
	}
}