@-moz-document url-prefix() {
	main.resultados {
		aside {
			.buscar {
				select {
					padding: 4px 4px 4px 6px;
				}
			}
		}
	}
}

main.resultados {
	.aside {
		margin-top: 15px;
	}
	aside {
		h2 {
			border-bottom: 2px solid $color-t3;
			color: $color-t3;
			font-size: 18px;
			font-weight: 700;
			margin-top: 0;
			padding-bottom: 8px;
		}
	}
	.buscar {
		border: 1px solid $color-t4;
		padding: 10px 15px 10px 15px;
		h2 {
			border-bottom: none;
			color: $color-t1;
			font-weight: 400;
			margin: 0;
			padding-bottom: 10px;
			text-align: center;
		}
		div {
			overflow: hidden;
			position: relative;
			input[type="checkbox"] {
				left: 0;
				position: absolute;
				top: -200%;
			}
			label {
				font-size: 12px;
			}
			&.restaurante {

			}
			&.fecha {
				span {
					top: 4px;
				}
			}
			&.horario,
			&.cantidad {
				display: inline-block;
				span {
					top: 5px;
				}
			}
			&.horario {
				select {
					width: 90px;
				}
			}
			&.cantidad {
				select {
					width: 50px;
				}
			}
			span.glyphicon {
				color: $color-t4;
				margin-left: 2px;
				font-size: 18px;
				position: relative;
			}
		}
		div>input,
		select {
			background: #FFFFFF;
			border: 1px solid #c2c2c2;
			color: $color-t4;
			font-size: 11px;
			font-style: italic;
			height: 28px;
			&:focus {
				color: $color-t1;
				font-style: normal;
			}
		}
		div>input {
			padding: 0 6px;
			width: 100%;
		}
		select {
			padding-left: 6px;
		}
		label {
			cursor: pointer;
		}
		.btn {
			margin-top: 7px;
			width: 100%;
		}
		::-webkit-input-placeholder {
			color: $color-t4;
			font-style: italic;
		}

		:-moz-placeholder {
			color: $color-t4;
			font-style: italic;
			opacity: 1;
		}

		::-moz-placeholder {
			color: $color-t4;
			font-style: italic;
			opacity: 1;
		}

		:-ms-input-placeholder {
			color: $color-t4;
			font-style: italic;
		}
	}
	div.filtros-activos {
		margin-top: 15px;
		div,
		li {
			border: 1px solid $color-t4;
			color: $color-t1;
			font-size: 12px;
			padding: 1px 20px 2px 5px;
			position: relative;
		}
		div {
			&:hover {
				background: $color-v1;
				border-color: $color-v1;
				color: #FFFFFF;
				cursor: pointer;
			}
		}
		li {
			margin-top: 5px;
		}
		a {
			line-height: 20px;
			padding: 0 5px;
			position: absolute;
			right: 0;
			top: 0;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.filtros {
		margin-top: 20px;
		h2 {
			border-bottom-color: $color-t1;
			color: $color-t1;
		}
		fieldset {
			&>div {
				-webkit-margin-collapse: separate;
				margin-top: 6px;
				overflow: hidden;
				position: relative;
			}
			&+fieldset {
				margin-top: 25px;
			}
		}
		legend {
			border: none;
			color: $color-t1;
			font-size: 15px;
			font-weight: 700;
			line-height: 14px;
			margin-bottom: 0;
			padding-bottom: 2px;
		}
		input[type="radio"]+label {
			&:before {
				border-radius: 100%;
			}
		}
		input[type="checkbox"],
		input[type="radio"] {
			left: 0;
			position: absolute;
			top: -100%;
		}
		span {
			color: $color-v1;
			font-weight: 700;
		}
	}
	.vistos {
		margin-bottom: 30px;
		margin-top: 30px;
		article {
			background: #ececec;
			min-height: 98px;
			padding: 3px 3px 3px 116px;
			position: relative;
			&+article {
				margin-top: 2px;
			}
			h3 {
				margin: 0;
				line-height: 10px;
				margin-bottom: 4px;
				a {
					font-size: 15px;
					font-weight: 600;
					&:hover {
						text-decoration: none;
					}
				}
			}
			dl {
				margin: 0;
			}
			dd {
				color: $color-t3;
				font-size: 12px;
				line-height: 14px;
				em {
					font-style: normal;
					font-weight: 700;
					text-transform: uppercase;
				}
				&.calificacion,
				&.puntaje {
					display: inline-block;
					letter-spacing: -0.5px;
				}
			}
			.imagen {
				display: block;
				height: 91px;
				left: 3px;
				overflow: hidden;
				position: absolute;
				top: 3px;
				width: 108px;
			}
		}
	}
	.top-busquedas {
		li {
			display: inline-block;
		}
		a {
			color: $color-t3;
			line-height: 20px;
			&:hover {
				color: $color-v1;
				text-decoration: none;
			}
			&.nivel-01,
			&.nivel-02,
			&.nivel-03 {
				font-weight: 600;
			}
			&.nivel-04,
			&.nivel-05,
			&.nivel-06 {
				font-weight: 700;
			}
			&.nivel-01 {
				font-size: 14px;
			}
			&.nivel-02 {
				font-size: 16px;
			}
			&.nivel-03 {
				font-size: 18px;
			}
			&.nivel-04 {
				font-size: 20px;
			}
			&.nivel-05 {
				font-size: 22px;
			}
			&.nivel-06 {
				font-size: 24px;
			}
		}
	}
}

@media (max-width: 991px) {
	main.resultados {
		aside {
			padding-top: 10px;
			form {
				.restaurante,
				.fecha,
				.horario,
				.cantidad,
				.check {
					float: left;
				}
				.check {
					margin-top: 8px;
					&+.check {
						margin-left: 15px;
					}
				}
				.fecha,
				.horario,
				.cantidad {
					margin-left: 15px;
				}
				.fecha {
					width: 170px;
					input {
						width: 146px;
					}
				}
				.horario {
					width: 114px;
				}
				.cantidad {
					width: 76px;
				}
			}
		}
	}
}

@media (min-width: 640px) and (max-width: 767px) {
	main.resultados {
		aside {
			form {
				.restaurante {
					width: 173px;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	main.resultados {
		aside {
			form {
				.restaurante {
					width: 283px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	main.resultados {
		div.aside {
			padding-right: 3px;
		}
		aside {
			form {
				.cantidad {
					margin-left: 6px;
				}
			}
			.buscar {
				div {
					&+div {
						margin-top: 10px;
					}
					&.fecha {
						input {
							width: 173px;
						}
					}
				}
			}
		}
	}
}