main.resultados {
	.destacado {
		margin-top: 15px;
		height: 234px;
		aside {
			height: 100%;
		}
		article {
			height: 100%;
			overflow: hidden;
			position: relative;
			h1,
			dl {
				margin: 0;
				text-align: center;
			}
			h1,
			dd {
				color: #FFFFFF;
				text-shadow: 0 0 6px $color-t1;
				position: relative;
				z-index: 11;
			}
			h1 {
				font-style: italic;
				margin-bottom: 10px;
				margin-top: 72px;
			}
			dd {
				font-size: 15px;
				line-height: 16px;
				&.direccion,
				&.cocina {
					display: inline-block;
					&:before {
						margin-right: 4px;
						position: relative;
						top: 1px;
					}
				}
				&.direccion {
					margin-right: 8px;
				}
				&.estrellas {
					height: 28px;
					font-size: 23px;
					line-height: 28px;
					left: 50%;
					letter-spacing: 6px;
					margin-left: -68px;
					position: absolute;
					top: 50px;
					width: 143px;
					&:after,
					&:before {
						height: 30px;
					}
					&:before {
						text-shadow: none;
					}
				}
			}
			a.btn,
			img {
				position: absolute;
			}
			a.btn {
				bottom: 15px;
				margin-left: 0 - round(180px / 2);
				left: 50%;
				z-index: 11;
			}
			img {
				left: 0;
				top: 0;
				z-index: 1;
			}
		}
		.avanzar,
		.retroceder {
			opacity: 0.75;
			filter: alpha(opacity=75);
		}
		.avanzar {
			right: 20px + 15;
		}
		.retroceder {
			left: 20px + 15;
		}
	}
}