main.resultados {
	div.resultados {
		margin-top: 15px;
		div.visualizacion {
			position: relative;
			li {
				float: left;
			}
			.orden {
				margin-bottom: 0;
				padding-right: 72px;
				text-align: center;
				dt,
				dd {
					background: #ececec;
					display: inline-block;
					font-size: 15px;
					line-height: 32px;
					margin-right: 2px;
					padding: 0 10px;
				}
				dt {
					color: $color-t1;
					font-weight: 600;
				}
				a {
					color: $color-t2;
					display: block;
					font-size: 15px;
					line-height: 32px;
					&:hover {
						color: $color-v1;
						text-decoration: none;
					}
					&.activo {
						color: $color-v1;
					}
				}
			}
			.modos {
				position: absolute;
				right: 0;
				top: 8px;
				li {
					margin-left: 6px;
					.lista {
						background-position: -238px -60px;
						height: 17px;
						width: 16px;
					}
					.lista-2 {
						background-position: -225px -40px;
						height: 16px;
						width: 16px;
					}
					.mapa {
						background-position: -243px -40px;
						height: 18px;
						margin-top: -1px;
						width: 17px;
					}
				}
				a {
					background-image: url(#{$img-constante});
					background-repeat: no-repeat;
					display: block;
					height: 17px;
					line-height: 160px;
					overflow: hidden;
					width: 16px;
				}
			}
		}
		article {
			border: 1px solid #FFFFFF;;
			margin-top: 6px;
			min-height: 168px + 8 + 8 + 2;
			padding: 8px 8px 8px 216px;
			position: relative;
			&:hover {
				border-color: #d9d9d9;
			}
			header {
				margin-bottom: 5px;
			}
			h2 {
				line-height: 24px;
				margin: 0 0 5px 0;
				a {
					color: $color-t1;
					font-size: 24px;
					line-height: 24px;
					font-weight: 600;
					letter-spacing: -0.5px;
					&:hover {
						color: $color-v1;
						text-decoration: none;
					}
				}
			}
			dl {
				margin: 0;
				dd {
					line-height: 20px;
					&.puntaje,
					&.calificacion,
					&.opiniones {
						display: inline-block;
					}
					&.puntaje {
						background: #ececec;
						border: 1px solid $color-t4;
						border-radius: 2px;
						color: $color-v1;
						line-height: 28px;
						margin-right: 10px;
						padding: 0 4px;
						position: relative;
						&:after {
							background: url("#{$img-constante}") -224px -77px no-repeat;
							content: "";
							height: 11px;
							margin-top: -5px;
							position: absolute;
							right: -10px;
							top: 50%;
							width: 10px;
						}
					}
					&.calificacion {
						&.ninguna,
						em {
							font-size: 15px;
							font-style: normal;
							font-weight: 700;
							line-height: 20px;
							text-transform: uppercase;
						}
						&.ninguna {
							color: $color-t3;
						}
						em {
							color: $color-t1;
						}
					}
					&.opiniones {
						color: $color-t3;
						font-style: italic;
					}
					&.direccion {
						display: block;
						margin-top: 4px;
					}
					&.direccion,
					&.cocina,
					&.precio {
						line-height: 20px;
					}
					&.direccion,
					&.cocina {
						color: $color-t3;
						font-size: 15px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						&:before {
							color: $color-t2;
							margin-right: 4px;
							position: relative;
							top: 2px;
						}
					}
					&.cocina,
					&.precio {
						display: inline-block;
					}
					&.precio {
						color: $color-v1;
						font-size: 16px;
						font-weight: 700;
						position: relative;
						top: -3px;
						&:before {
							color: $color-t3;
							content: "|";
							font-family: "Open Sans";
							font-size: 15px;
							font-weight: 400;
							margin-right: 3px;
							position: relative;
							top: -1px;
						}
					}
					&.descuento {
						color: $color-t3;
						font-size: 36px;
						font-weight: 700;
						line-height: 36px;
						text-align: center;
						position: absolute;
					}
				}
			}
			.imagen {
				border: 1px solid $color-t4;
				display: block;
				height: 168px;
				left: 8px;
				overflow: hidden;
				position: absolute;
				top: 8px;
				width: 200px;
			}
			blockquote {
				margin: 0;
				padding: 0;
				p,
				cite {
					font-size: 13px;
					line-height: 16px;
				}
				p {
					margin: 0;
				}
				footer {
					margin-top: -2px;
					text-align: right;
				}
				cite {
					color: $color-t3;
				}
			}
			p.descripcion {
				color: $color-t2;
				font-size: 13px;
				line-height: 16px;
			}
			p.nuevo {
				background: url("#{$img-constante}") -191px -271px no-repeat;
				left: 0;
				overflow: hidden;
				line-height: 180px;
				pointer-events: none;
				position: absolute;
				height: 69px;
				top: 0;
				width: 69px;
				z-index: 11;
			}
		}
		.paginado {
			margin-top: 15px;
			text-align: center;
		}
	}
}

@media (max-width: 767px) {
	main.resultados {
		div.resultados {
			article {
				header{
					max-width: 78%;
				}
				dd.descuento {
					right: 5px;
					top: 8px;
				}
				.btn {
					margin-top: 20px;
				}
			}
			dl {
				.cocina {
					max-width: 310px;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	main.resultados {
		div.resultados {
			article {
				header {
					max-width: 354px;
				}
			}
			dl.tipo-precio {
				width: 309px;
			}
		}
	}
}

@media (min-width: 768px) {
	main.resultados {
		div.resultados {
			.modos {
				float: right;
			}
			article {
				dd.descuento {
					right: 33px;
					top: 8px;
					width: 130px;
				}
				.btn {
					bottom: 12px;
					position: absolute;
					right: 8px;
				}
			}
			dl {
				.cocina {
					max-width: 240px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	main.resultados {
		div.resultados {
			padding-left: 3px;
			article {
				header{
					max-width: 350px;
				}
			}
			dl.tipo-precio {
				width: 309px;
			}
		}
	}
}