section.reserva-paso-2 {
	header {
		border-bottom: 1px solid  $color-t5;
		h1,
		h2 {
			color: $color-t1;
			font-weight: 400;
		}
		h1 {
			font-size: 30px;
			margin: 0 0 2px 0;
		}
		h2 {
			font-size: 18px;
			margin: 15px 0 0 0;
		}
		p {
			font-size: 15px;
		}
		p {
			color: $color-t3;
			line-height: 22px;
			margin: 0 0 12px 0;
			span {
				font-weight: 700;
			}
			a {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	form.form-inline {
		margin-left: -4px;
		label {
			font-size: 14px;
		}
		.form-group {
			padding-top: 25px;
			padding-left: 4px;
			vertical-align: top;
			&:first-child,
			&:first-child+div {
				padding-top: 20px;
			}
			.checkbox {
				label {
					color: $color-v1;
				}
				&.inactivo {
					display: none;
				}
			}
			.form-group {
				display: none;
				padding-top: 0;
				padding-left: 0;
				width: 100%;
				&.activo {
					display: block;
				}
				textarea {
					&::-webkit-textarea-placeholder {
						color: $color-t4;
						font-size: 11px;
						font-style: italic;
					}

					&:-moz-placeholder {
						color: $color-t4;
						font-size: 11px;
						font-style: italic;
						opacity: 1;
					}

					&::-moz-placeholder {
						color: $color-t4;
						font-size: 11px;
						font-style: italic;
						opacity: 1;
					}

					&:-ms-textarea-placeholder {
						color: $color-t4;
						font-size: 11px;
						font-style: italic;
					}
				}
			}
		}
		.row {
			&.select {
				&>div {
					select {
						width: 100%;
					}
				}
			}
		}
		.extras {
			color: $color-t3;
			display: block;
			font-size: 14px;
			letter-spacing: -1px;
			margin-bottom: 14px;
			padding-top: 40px;
			a {
				text-decoration: underline;
			}
			span {
				color: $color-t1;
			}
		}
		.extras,
		input[type="submit"] {
			margin-left: 4px;
		}
	}
	aside {
		background: #f0f0f0;
		border: 1px solid $color-t5;
		margin-top: 40px;
		padding: 14px 20px 20px 20px;
		text-align: center;
		p {
			font-size: 12px
		}
		&.registrado {
			p {
				color: $color-t3;
				font-size: 15px;
				line-height: 20px;
				margin: 0;
				text-align: center;
				strong {
					display: block;
					font-size: 17px;
					&.chico {
						font-size: 15px;
					}
				}
				&+p {
					margin-top: 18px;
				}
			}
		}
		&.anonimo {
			padding-top: 4px;
			p {
				color: $color-t3;
				font-size: 15px;
				letter-spacing: -0.5px;
				line-height: 20px;
				margin-bottom: 8px;
				&:first-child {
					margin-bottom: 12px;
				}
				a {
					color: $color-t3;
					font-weight: 700;
					&.fb,
					&.gp {
						display: inline-block;
						height: 32px;
						line-height: 100px;
						overflow: hidden;
						position: relative;
						top: 7px;
						vertical-align: bottom;
						width: 32px;
					}
					&.fb {
						background: #5d82d1 url(#{$img-constante}) -216px -100px no-repeat;
						margin-left: 2px;
						&:hover {
							background-color: #32558B;
						}
					}
					&.gp {
						background: #eb5e4c url(#{$img-constante}) -139px -97px no-repeat;
						margin-left: 6px;
						&:hover {
							background-color: #DA4B38;
						}
					}
				}
			}
			div {
				border: 1px solid $color-t5;
				background: #FFFFFF;
				padding: 10px 10px 12px 10px;
				p {
					margin: 0;
					strong {
						display: block;
						font-size: 17px;
						font-weight: 700;
					}
					&+p {
						margin-top: 20px;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	section.reserva-paso-2 {
		form.form-inline {
			.form-group {
				margin: 0;
				.row {
					&.select {
						&>div {
							&.numero {
								padding-top: 10px;
							}
						}
					}
				}
				.checkbox {
					padding-left: 0;
				}
			}
			input[type="submit"] {
				width: 100%;
			}
		}
	}
}

@media (min-width: 768px) {
	section.reserva-paso-2 {
		form.form-inline {
			.form-group {
				width: 49%;
				.row {
					&.select {
						&>div {
							padding: 0;
							&:first-child {
								padding-left: 15px;
								padding-right: 8px;
							}
							&.numero {
								width: 44.5%;
							}
						}
					}
				}
			}
			input[type="submit"] {
				width: 228px;
			}
		}
	}
}

@media (min-width: 992px) {
	section.reserva-paso-2 {
		form.form-inline {
			.form-group {
				width: 49%;
				.row {
					&.select {
						&>div {
							&.numero {
								width: 53.5%;
							}
						}
					}
				}
			}
			input[type="submit"] {
				width: 266px;
			}
		}
	}
}