.ficha-busqueda {
	border-bottom: 1px solid $color-t5;
	padding-bottom: 12px;
	padding-top: 19px;
	form {
		float: left;
		margin-right: 8px;
		width: 248px;
		input {
			background: #FFFFFF;
			border: 1px solid $color-v1;
			border-radius: 0;
			height: 23px;
		}
		input[type="text"] {
			border-right: none;
			font-size: 11px;
			padding: 2px 4px;
			width: 220px;
			&:focus {
				border-color: $color-v1;
			}
		}
		input[type="submit"] {
			background: url("#{$img-constante}") -60px -106px no-repeat;
			border-left: none;
			position: relative;
			text-indent: -200px;
			width: 28px;
		}
		::-webkit-input-placeholder {
			color: $color-t4;
			font-style: italic;
		}

		:-moz-placeholder {
			color: $color-t4;
			font-style: italic;
			opacity: 1;
		}

		::-moz-placeholder {
			color: $color-t4;
			font-style: italic;
			opacity: 1;
		}

		:-ms-input-placeholder {
			color: $color-t4;
			font-style: italic;
		}
	}
	.abrir,
	.cerrar {
		border-radius: 2px;
		color: white;
		cursor: pointer;
		float: left;
		font-size: 12px;
		font-weight: 700;
		height: 23px;
		line-height: 23px;
		padding: 0 9px;
		text-transform: uppercase;
	}
	.abrir {
		background: $color-v1;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		&:hover {

		}
	}
	.cerrar {
		background: $color-t3;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		border-bottom-right-radius: 2px;
		border-top-right-radius: 2px;
		&:hover {

		}
	}
}