article.restaurante {
	div.calificaciones {
		border-bottom: 1px solid $color-t5;
		border-top: 1px solid $color-t5;
		dl {
			text-align: center;
		}
		dt,
		dd {
			display: inline-block;
		}
		dt,
		dd:before {
			color: $color-t3;
			font-size: 18px;
			font-weight: 600;
		}
		dd {
			&.puntaje {
				.estrellas-img {
					line-height: 160px;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}
	}
	div.calificaciones,
	div.calificacion.principal {
		dl {
			margin-bottom: 0;
			dd {
				.estrellas {
					background: $color-t5;
					position: relative;
					.barra {
						background: $color-v1;
						height: inherit;
						width: 0%;
					}
					.estrellas-img {
						background-image: url("#{$img-url}constante.png");
						background-repeat: no-repeat;
						height: inherit;
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
						z-index: 1;
					}
				}
				&.puntaje {
					padding-top: 4px;
					.estrellas {
						display: inline-block;
						height: 23px;
						width: 144px;
						.estrellas-img {
							background-position: 0 0;
						}
					}
					strong {
						color: $color-v1;
						display: inline-block;
						padding-left: 6px;
						position: relative;
						top: -3px;
					}
				}
			}
		}
	}
	div.calificacion.principal {
		&>div {
			&>div {
				padding-bottom: 15px;
				padding-top: 15px;
				&+div {
					text-align: center;
				}
			}
		}
		dl {
			&.resumen {
				dd {
					text-align: center;
					&.calificacion {
						em {
							color: $color-t1;
							font-size: 18px;
							font-style: normal;
							font-weight: 600;
							text-transform: uppercase;
						}
					}
					&.puntaje {
						strong {
							font-size: 18px;
						}
					}
					&.opiniones {
						color: $color-t3;
						font-size: 12px;
					}
				}
			}
			&.detalle {
				dt,
				dd {
					display: inline-block;
				}
				dt {
					color: $color-t3;
					font-size: 16px;
					font-weight: 400;
					position: relative;
					top: -4px;
					&:first-child {
						padding-left: 0;
					}
				}
				dd {
					.estrellas {
						height: 23px;
						position: relative;
						width: 144px;
						.estrellas-img {
							background-position: 0 0;
							line-height: 100px;
							overflow: hidden;
						}
					}
				}
			}
		}
		p.garantia {
			color: $color-t3;
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 0;
			margin-top: 10px;
			padding-right: 10px;
			.glyphicon {
				color: #06b31b;
				font-size: 16px;
				margin-right: 2px;
				position: relative;
				top: 1px;
			}
			.w800 {
				&:after {
					content: "|";
					font-weight: 600;
					padding-left: 5px;
					position: relative;
					top: -1px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	article.restaurante {
		div.slideshow {
			margin-bottom: 10px;
		}
		div.calificaciones,
		div.calificacion.principal {
			dd {
				&:before {
					content: attr(data-titulo);
					display: inline-block;
					text-align: left;
				}
			}
		}
		div.calificaciones {
			padding-bottom: 2px;
			padding-top: 6px;
			dl {
				dd {
					&.puntaje {
						display: block;
						padding-top: 0;
						&:before {
							min-width: 94px;
							position: relative;
							top: -3px;
						}
					}
				}
			}
		}
		div.calificacion.principal {
			dl {
				&.detalle {
					border-top: 1px solid $color-t4;
					padding-top: 15px;
					dd {
						display: block;
						text-align: center;
						&:before {
							min-width: 74px;
							position: relative;
							top: -4px;
						}
						&>div {
							display: inline-block;
						}
					}
				}
			}
			p.garantia {
				padding: 0 15px;
			}
		}
	}
}

@media (min-width: 768px) {
	article.restaurante {
		div.calificaciones {
			padding-bottom: 7px;
			dt {
				padding-left: 10px;
				padding-right: 4px;
				&:first-child {
					padding-left: 0;
				}
			}
			dd {
				&.puntaje {
					.estrellas {
						top: 5px;
					}
				}
			}
		}
		div.calificacion.principal {
			dl {
				&.detalle {
					dt {
						padding-left: 16px;
						padding-right: 4px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	article.restaurante {
		div.calificaciones {
			margin-top: 10px;
		}
		div.calificacion.principal {
			dl {
				&.detalle {
					border-top: 1px solid $color-t4;
					padding-top: 8px;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	article.restaurante {
		div.calificacion.principal {
			&>div {
				&>div {
					&+div {
						padding-top: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	article.restaurante {
		div.calificaciones {
			margin-top: 10px;
		}
		div.calificacion.principal {
			&>div {
				&>div:first-child {
					border-right: 1px solid $color-t4;
				}
			}
			dl {
				&.detalle {
					padding-top: 8px;
				}
			}
		}
	}
}