section.busqueda.abierto+article.restaurante {
	padding-top: 10px;
}
article.restaurante {
	overflow: hidden;
	header {
		h1 {
			line-height: 24px;
			font-size: 24px;
			font-weight: 600;
			margin-top: 0;
			padding-top: 4px;
		}
		address {
			color: $color-t3;
			font-size: 14px;
			margin-bottom: 10px;
			margin-top: -4px;
			span.glyphicon,
			a {
				color: #3366cc;
				font-weight: 600;
			}
			a {
				text-decoration: underline;
				&:hover {
					color: $color-v1;
				}
			}
		}
	}
}