article.restaurante {
	div.mapa {
		padding-bottom: 15px;
		text-align: center;
		address {
			color: $color-t2;
			font-size: 20px;
			line-height: 28px;
			margin: 0;
			padding: 15px 0;
			&:before {
				content: "\e062";
				font-family: "Glyphicons Halflings";
				padding-right: 2px;
				position: relative;
				top: 2px;
			}
		}
		&>div {
			border: 1px solid $color-t4;
			height: 288px;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	article.restaurante {
		div.mapa {
			position: relative;
			left: -15px;
			width: 720px;
		}
	}
}

@media (min-width: 992px) {
	article.restaurante {
		div.mapa {
			position: relative;
			left: -15px;
			width: 960px;
		}
	}
}