article.restaurante {
	div.slideshow {
		.imagen-principal {
			border: 1px solid $color-t5;
			height: 264px;
			margin-bottom: 12px;
			max-width: 381px;
			overflow: hidden;
		}
		.paginado {
			li {
				border: 1px solid $color-t5;
				cursor: pointer;
				height: 44px;
				float: left;
				margin-right: 8px;
				overflow: hidden;
				width: 44px;
				&:hover,
				&.activo {
					border-color: $color-v1;
				}
			}
		}
	}
}