section.ingresar-comentario {
	h1,
	h2,
	h3 {
		font-weight: 600;
	}
	header {
		h1 {
			color: $color-v1;
			font-size: 20px;
		}
	}
	h2 {
		border-bottom: 1px solid #c2c6ca;
		font-size: 17px;
		margin-bottom: 8px;
		margin-top: 0;
		padding-bottom: 5px;
	}
	.imagen {
		border: 1px solid $color-t4;
		overflow: hidden;
		height: 115px;
	}
	h3 {
		font-size: 16px;
		margin: 0;
	}
	ul {
		// Éste pedazo de código es igual al que esta en "paso-3.scss"
		// Sólo se agrega la parte de "&.ubicacion"
		// Se duplicó por si alguna vez cambia algo.
		li {
			color: $color-t3;
			font-size: 15px;
			padding-bottom: 2px;
			&:before,
			address:before {
				color: $color-t4;
				font-family: "Glyphicons Halflings";
				padding-right: 6px;
				position: relative;
				top: 2px;
			}
			&.ubicacion {
				address {
					margin: 0;
					&:before {
						content: "\e062";
					}
				}
			}
			&.personas {
				&:before {
					content: "\e008";
				}
			}
			&.fecha {
				&:before {
					content: "\e109";
				}
			}
			&.hora {
				&:before {
					content: "\e023";
				}
			}
		}
	}
	form {
		border-top: 1px solid #c2c6ca;
		margin-top: 6px;
		padding-top: 15px;
		fieldset {
			margin-bottom: 20px;
			legend {
				border: none;
				font-size: 20px;
				font-weight: 600;
				line-height: 20px;
				margin-bottom: 5px;
			}
			label {
				color: $color-t2;
				font-size: 15px;
			}
			&.concurrencia {
				label {
					font-weight: 600;
					padding: 0;
				}
				input {
					float: none;
					margin: 0;
				}
			}
			&.calificaciones {
				&>div {
					overflow: hidden;
					p,
					small {
						color: $color-t3;
						font-size: 15px;
					}
					p {
						display: inline-block;
						width: 80px;
					}
					&>div {
						display: inline-block;
						position: relative;
						top: 2px;
					}
					input[type="radio"] {
						position: absolute;
						top: -100%;
					}
					label {
						background: url("#{$img-constante}") -184px -26px no-repeat;
						cursor: pointer;
						height: 23px;
						float: right;
						line-height: 80px;
						overflow: hidden;
						white-space: nowrap;
						width: 31px;
						&.c-5-5:hover,
						&.c-5-5:hover+label,
						&.c-5-5:hover+label+label,
						&.c-5-5:hover+label+label+label,
						&.c-5-5:hover+label+label+label+label,
						&.c-4-5:hover,
						&.c-4-5:hover+label,
						&.c-4-5:hover+label+label,
						&.c-4-5:hover+label+label+label,
						&.c-3-5:hover,
						&.c-3-5:hover+label,
						&.c-3-5:hover+label+label,
						&.c-2-5:hover,
						&.c-2-5:hover+label,
						&.c-1-5:hover {
							background-position: -219px -26px;
						}
					}
					&.calificacion-1-5 {
						.c-1-5 {
							background-position: -219px -26px;
						}
					}
					&.calificacion-2-5 {
						.c-1-5,
						.c-2-5 {
							background-position: -219px -26px;
						}
					}
					&.calificacion-3-5 {
						.c-1-5,
						.c-2-5,
						.c-3-5 {
							background-position: -219px -26px;
						}
					}
					&.calificacion-4-5 {
						.c-1-5,
						.c-2-5,
						.c-3-5,
						.c-4-5 {
							background-position: -219px -26px;
						}
					}
					&.calificacion-5-5 {
						.c-1-5,
						.c-2-5,
						.c-3-5,
						.c-4-5,
						.c-5-5 {
							background-position: -219px -26px;
							&:hover {
								background-position: -184px -26px;
							}
						}
					}
					small {
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}
		}
		.form-group {
			margin: 0;
			label {
				color: $color-t2;
				font-size: 20px;
				font-weight: 600;
				line-height: 20px;
				margin-bottom: 10px;
			}
		}
		&>small {
			color: $color-t3;
			display: block;
			font-size: 13px;
			margin-top: 10px;
			span {
				font-weight: 700;
			}
			a {
				text-decoration: underline;
			}
		}
		input[type="submit"] {
			margin-top: 15px;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	section.ingresar-comentario {
		form {
			.form-group {
				textarea {
					width: 80%;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	section.ingresar-comentario {
		form {
			.form-group {
				textarea {
					width: 55%;
				}
			}
		}
	}
}