.btn {
	box-shadow: none;
	border: none;
	text-shadow: none;
	text-transform: uppercase;
}

.btn-primary {
	background: $color-t6;
	color: white;
	&:focus,
	&:hover {
		background: #ff9933;
	}
}

.btn-secundario {
	background: #0098db;
	color: white;
	&:focus,
	&:hover {
		background: #0099ff;
		color: white;
	}
}


.btn-xs,
.btn-sm,
.btn-lg {
	border-radius: 3px;
}

.btn-xs  {
	padding: 4px 8px 3px 8px;
	&.ancho {
		padding: 3px 15px;
	}
}

.btn-lg {
	line-height: auto;
	padding: 9px 16px 11px 16px;
}

.btn.v1 {
	height: 39px;
	font-size: 16px;
}

.btn.v2 {
	height: 39px;
	font-size: 16px;
	font-weight: 700;
	padding: 8px 36px 12px 36px;
}

.btn.v3 {
	height: 39px;
	font-size: 16px;
	font-weight: 700;
	padding: 8px 80px 12px 80px;
}

.btn.v4 {
	height: 36px;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 45px 12px 45px;
}

.btn-vr-1 {
	font-size: 14px;
	font-weight: 700;
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	width: 180px;
}

.btn-vr-2,
.btn-vr-3 {
	font-size: 18px;
	font-weight: 700;
	height: 39px;
	line-height: 39px;
	padding: 0 10px;
}

.btn-vr-2 {
	width: 225px;
}