input[type="submit"] {
	border: none;
}

label {
	color: $color-t3;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: -1px;
}

.form-control {
	background: #f0f0f0;
	box-shadow: none;
	color: $color-t3;
	font-size: 13px;
	padding: 6px 8px;
	&:focus {
		box-shadow: none;
		border-color: $color-t4;
	}
}

option {
	color: $color-t3;
}

::-webkit-input-placeholder {
	color: $color-t3;
}

:-moz-placeholder {
	color: $color-t3;
	opacity: 1;
}

::-moz-placeholder {
	color: $color-t3;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $color-t3;
}