input[type="submit"] {
	border: none;
}

label {
	color: $color-t3;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: -1px;
}

.form-control {
	background: #f0f0f0;
	box-shadow: none;
	color: $color-t3;
	font-size: 13px;
	padding: 6px 8px;
	&:focus {
		box-shadow: none;
		border-color: $color-t4;
	}
}

select.form-control {
	padding: 0 0 0 6px;
}

@-moz-document url-prefix() {
	select.form-control {
		padding: 7px 6px 8px 6px;
	}
}

option {
	color: $color-t3;
}

form {
	input[type="checkbox"] {
		&+label.activo {
			&:before {
				background-image: url("#{$img-constante}");
				background-position: -177px -277px;
				background-repeat: no-repeat;
			}
		}
	}
	input+label {
		color: $color-t3;
		cursor: pointer;
		font-size: 14px;
		line-height: 14px;
		margin: 0;
		span {
			color: $color-t6;
		}
		&:before {
			background-color: #FFFFFF;
			border: 1px solid $color-t4;
			content: "";
			display: inline-block;
			height: 15px;
			margin-right: 10px;
			position: relative;
			top: 2px;
			width: 15px;
		}
		&:hover {
			&:before {
				border: 2px solid $color-t3;
			}
		}
		&.activo {
			font-weight: 700;
			&:before {
				background-color: $color-t3;
				border: none;
			}
		}
	}
}

::-webkit-input-placeholder {
	color: $color-t3;
}

:-moz-placeholder {
	color: $color-t3;
	opacity: 1;
}

::-moz-placeholder {
	color: $color-t3;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $color-t3;
}