.pagination {
	background: #ececec;
	border: 1px solid $color-t5;
	border-radius: 3px;
	margin: 0;
	overflow: hidden;
	li {
		background: url("#{$img-url}constante.png") 0 -63px no-repeat;
		float: left;
		height: 32px;
		&:hover,
		&.active {
			a {
				background-color: $color-v1;
				color: white;
			}
		}
		&:first-child {
			background: transparent;
		}
		a {
			background: transparent;
			border: none;
			border-radius: 3px;
			color: $color-t3;
			line-height: 32px;
			padding: 0 10px;
		}
	}
}