dd {
	&.direccion,
	&.ubicacion,
	&.cocina,
	&.precio {
		&:before {
			font-family: "Glyphicons Halflings";
		}
	}
	&.direccion,
	&.ubicacion {
		&:before {
			content: "\e062";
		}
	}
	&.cocina {
		&:before {
			content: "\e179";
		}
	}
	&.precio {
		&:before {
			content: "\e148";
		}
	}
	&.estrellas {
		position: relative;
		&:after,
		&:before {
			content: "\e006 \e006 \e006 \e006 \e006";
			font-family: "Glyphicons Halflings";
			left: 0;
			padding: 0 4px;
			position: absolute;
			top: 0;
			white-space: nowrap;
		}
		&:before {
			overflow: hidden;
			z-index: 11;
		}
		&:after {
			z-index: 1;
		}
		&.azul {
			&:before {
				color: $color-v1;
			}
		}
		&.gris {
			&:after {
				color: $color-t4;
			}
		}
		&.e-0-5 {
			&:before {
				width: 10%;
			}
		}
		&.e-1 {
			&:before {
				width: 20%;
			}
		}
		&.e-1-5 {
			&:before {
				width: 31%;
			}
		}
		&.e-2 {
			&:before {
				width: 40%;
			}
		}
		&.e-2-5 {
			&:before {
				width: 51%;
			}
		}
		&.e-3 {
			&:before {
				width: 60%;
			}
		}
		&.e-3-5 {
			&:before {
				width: 71%;
			}
		}
		&.e-4 {
			&:before {
				width: 80%;
			}
		}
		&.e-4-5 {
			&:before {
				width: 91%;
			}
		}
		&.e-5 {
			&:before {
				width: 100%;
			}
		}
	}
	.estrellas {
		background: url("#{$img-url}constante.png") 0 -42px no-repeat;
		height: 19px;
		line-height: 60px;
		overflow: hidden;
		position: relative;
		top: 5px;
		white-space: nowrap;
		&.e1 {
			width: 21px;
		}
		&.e1-5 {
			width: 36px;
		}
		&.e2 {
			width: 47px;
		}
		&.e2-5 {
			width: 62px;
		}
		&.e3 {
			width: 73px;
		}
		&.e3-5 {
			width: 88px;
		}
		&.e4 {
			width: 99px;
		}
		&.e4-5 {
			width: 114px;
		}
		&.e5 {
			width: 125px;
		}
	}
}

.avanzar,
.retroceder {
	background-image: url("#{$img-constante}");
	background-repeat: no-repeat;
	cursor: pointer;
	height: 33px;
	margin-top: -16px;
	position: absolute;
	top: 50%;
	width: 20px;
	z-index: 11;
}
.avanzar {
	background-position: -212px -135px;
	right: 15px;
	&:hover {
		background-position: -212px -169px;
	}
}
.retroceder {
	background-position: -233px -135px;
	left: 15px;
	&:hover {
		background-position: -233px -169px;
	}
}

body>footer.pie,
section.contacto {
	.sociales {
		a {
			background: #d6d6d6; /* Old browsers */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(-45deg,  #d6d6d6 0%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d6d6d6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  #d6d6d6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  #d6d6d6 0%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  #d6d6d6 0%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(135deg,  #d6d6d6 0%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
			box-shadow: 0 1px 2px $color-t4;
			border-radius: 3px;
			display: inline-block;
			height: 25px;
			font-size: 14px;
			font-weight: 600;
			line-height: 25px;
			padding-left: 25px;
			position: relative;
			text-align: center;
			span {
				border-radius: 3px;
				display: inline-block;
				height: inherit;
				left: 0;
				line-height: 100px;
				overflow: hidden;
				position: absolute;
				top: 0;
				width: 25px;
			}
			&.fb {
				color: #32558b;
				span {
					background: #32558b url("#{$img-constante}") -150px 5px no-repeat;
				}
				&:hover {
					background: #32558b;
					color: #FFFFFF;
				}
			}
			&.tt {
				color: #35a1b3;
				span {
					background: #35a1b3 url("#{$img-constante}") -205px 5px no-repeat;
				}
				&:hover {
					background: #35a1b3;
					color: #FFFFFF;
				}
			}
			&.gp {
				color: #da4b38;
				span {
					background: #da4b38 url("#{$img-constante}") -180px 6px no-repeat;
				}
				&:hover {
					background: #da4b38;
					color: #FFFFFF;
				}
			}
		}
	}
}