body>footer.pie {
	border-top: 1px solid #c2c6ca;
	color: $color-t3;
	font-size: 12px;
	padding-bottom: 13px;
	h2,
	a {
		color: $color-t3;
	}
	h2 {
		font-size: 16px;
		font-weight: 600;
		&:before {
			color: $color-t4;
			font-family: "Glyphicons Halflings";
			padding-right: 4px;
			position: relative;
			top: 2px;
		}
	}
	a,
	small {
		font-size: 13px;
	}
	a {
		&:hover {
			color: $color-v1;
			text-decoration: none;
		}
	}
	div.resermap-logo {
		background: url("#{$img-constante}") 0 -108px no-repeat;
		height: 78px;
		line-height: 200px;
		margin: 32px auto 0 auto;
		overflow: hidden;
		width: 57px;
	}
	.acceso {
		h2 {
			&:before {
				content: "\e033";
			}
		}
	}
	.comercial {
		h2 {
			&:before {
				content: "\e139";
			}
		}
	}
	.resermap {
		h2 {
			&:before {
				content: "\e044";
			}
		}
	}
	.contacto {
		h2 {
			&:before {
				content: "\e062";
			}
		}
		.telefono {
			color: $color-v1;
			display: block;
		}
	}
	.sociales {
		a {
			background: #d6d6d6; /* Old browsers */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(-45deg,  #d6d6d6 0%, #ffffff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d6d6d6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  #d6d6d6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  #d6d6d6 0%,#ffffff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  #d6d6d6 0%,#ffffff 100%); /* IE10+ */
			background: linear-gradient(135deg,  #d6d6d6 0%,#ffffff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
			box-shadow: 0 1px 2px $color-t4;
			display: inline-block;
			height: 25px;
			font-size: 14px;
			font-weight: 600;
			line-height: 25px;
			padding-left: 25px;
			position: relative;
			text-align: center;
			span {
				border-radius: 3px;
				display: inline-block;
				height: inherit;
				left: 0;
				line-height: 100px;
				overflow: hidden;
				position: absolute;
				top: 0;
				width: 25px;
			}
			&.fb {
				color: #32558b;
				span {
					background: #32558b url("#{$img-constante}") -150px 5px no-repeat;
				}
				&:hover {
					background: #32558b;
					color: #FFFFFF;
				}
			}
			&.tt {
				color: #35a1b3;
				span {
					background: #35a1b3 url("#{$img-constante}") -205px 5px no-repeat;
				}
				&:hover {
					background: #35a1b3;
					color: #FFFFFF;
				}
			}
			&.gp {
				color: #da4b38;
				span {
					background: #da4b38 url("#{$img-constante}") -180px 6px no-repeat;
				}
				&:hover {
					background: #da4b38;
					color: #FFFFFF;
				}
			}
		}
	}
	.contacto+.legales,
	.contacto+.legales+.terminos-condiciones {
		margin-top: 60px;
	}
	.legales {
		small {
			font-size: 14px;
			line-height: 16px;
		}
	}
	.terminos-condiciones {
		a {
			font-size: 14px;
			text-transform: uppercase;
			&+a {
				&:before {
					color: $color-t3;
					content: "| ";
				}
			}
		}
	}
	.suscripcion {
		background: #f1f4f8; /* Old browsers */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjRmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2UwZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #f1f4f8 0%, #dce0e6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f4f8), color-stop(100%,#dce0e6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f1f4f8 0%,#dce0e6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f1f4f8 0%,#dce0e6 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f1f4f8 0%,#dce0e6 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f1f4f8 0%,#dce0e6 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f4f8', endColorstr='#dce0e6',GradientType=0 ); /* IE6-8 */
		border-bottom: 1px solid #c2c6ca;
		box-shadow: 1px 0 0 #FFFFFF;
		.col-md-12 {
			text-align: center;
		}
		form {
			padding-bottom: 5px;
			padding-top: 5px;
		}
		label {
			color: $color-t1;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: -0.25px;
			margin: 0;
			position: relative;
			text-align: left;
			top: 2px;
			span {
				font-weight: 700;
			}
		}
		.form-control {
			background: #FFFFFF;
			border-color: #999999;
			border-radius: 0;
			font-size: 14px;
			font-style: italic;
			height: 29px;
			width: 58%;
		}
		.btn {
			height: 36px;
			font-size: 14px;
			font-weight: 700;
			padding-bottom: 4px;
			padding-top: 4px;
		}
	}
}

@media (max-width: 767px) {
	body>footer.pie {
		.suscripcion {
			.form-group {
				margin-bottom: 6px;
				width: 100%;
				label,
				input {
					display: inline-block;
					text-align: center;
					width: 100%;
				}
				label {
					margin-bottom: 4px;
				}
			}
		}
		.sociales {
			margin-top: 20px;
			a {
				margin-right: 11px;
				width: 102px;
			}
		}
		.legales {
			margin-top: 20px;
		}
		.terminos-condiciones {
			padding-top: 10px;
		}
	}
}

@media (min-width: 768px) {
	body>footer.pie {
		.sociales {
			margin-top: 25px;
			text-align: right;
			a {
				margin-left: 11px;
			}
		}
		.terminos-condiciones {
			padding-top: 17px;
			text-align: right;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	body>footer.pie {
		.suscripcion {
			.form-group {
				width: 80%;
			}
			label {
				width: 34%;
			}
			.btn {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		.sociales {
			a {
				width: 102px;
			}
		}
		.legales {
			padding-top: 2px;
		}
		.terminos-condiciones {
			a {
				letter-spacing: -0.5px;
			}
		}
	}
}

@media (min-width: 992px) {
	body>footer.pie {
		.sociales {
			a {
				width: 110px;
			}
		}
		.suscripcion {
			.form-group {
				width: 52%;
			}
			label {
				width: 38%;
			}
			.btn {
				padding-left: 45px;
				padding-right: 45px;
			}
		}
	}
}