section.destacados {
	h1 {
		color: $color-t2;
		font-size: 22px;
		font-weight: 600;
		margin: 5px 0 20px 0;
	}
	.restaurantes {
		background: #000;
		li {
			float: left;
			height: 100%;
			&:hover {
				h2,
				.estrellas,
				dl {
					display: block;
				}
			}
			a {
				color: #FFFFFF;
				display: block;
				height: inherit;
				overflow: hidden;
				position: relative;
				&:hover {
					text-decoration: none;
					&:before {
						background: $color-t1;
						content: "";
						height: 100%;
						left: 0;
						opacity: 0.6;
						filter: alpha(opacity=60);
						position: absolute;
						top: 0;
						width: 100%;
						z-index: 11;
					}
				}
			}
			h2,
			.estrellas,
			dl {
				display: none;
			}
			h2 {
				font-size: 28px;
				letter-spacing: -0.5px;
				text-shadow: 0 2px 2px #333333;
			}
			h2,
			.estrellas {
				text-align: center;
				position: relative;
				z-index: 22;
			}
			.estrellas {
				height: 32px;
				margin: 0 auto;
				position: relative;
				width: 168px;
				&:before,
				&:after {
					content: "\e006 \e006 \e006 \e006 \e006";
					font-family: "Glyphicons Halflings";
					font-size: 28px;
					line-height: 32px;
					left: 3px;
					letter-spacing: 6px;
					position: absolute;
					top: 0;
				}
				&:before {
					color: #ffff3c;
					overflow: hidden;
					z-index: 2;
				}
				&:after {
					text-shadow: -1px 1px 3px #666666;
					color: #FFFFFF;
					z-index: 1;
				}
				&.e-0-5 {
					&:before {
						width: 7.5%;
					}
				}
				&.e-1 {
					&:before {
						width: 18%;
					}
				}
				&.e-1-5 {
					&:before {
						width: 28%;
					}
				}
				&.e-2 {
					&:before {
						width: 38%;
					}
				}
				&.e-2-5 {
					&:before {
						width: 48%;
					}
				}
				&.e-3 {
					&:before {
						width: 58%;
					}
				}
				&.e-3-5 {
					&:before {
						width: 68%;
					}
				}
				&.e-4 {
					&:before {
						width: 78%;
					}
				}
				&.e-4-5 {
					&:before {
						width: 88.5%;
					}
				}
				&.e-5 {
					&:before {
						width: 100%;
					}
				}
			}
			dl {
				bottom: 0;
				position: absolute;
				width: 100%;
				z-index: 22;
				dd {
					border-top: 1px solid #FFFFFF;
					padding-top: 5px;
					margin-top: 5px;
					&:before {
						color: $color-t5;
						font-family: "Glyphicons Halflings";
						margin-right: 4px;
						position: relative;
						top: 3px;
					}
				}
			}
			img {
				left: 0;
				position: absolute;
				top: 0;
				z-index: 1;
			}
		}
	}
}

@media (max-width: 767px) {
	section.destacados {
		.restaurantes {
			li {
				height: 260px;
				width: 50%;
				h2 {
					margin: 0 0 10px 0;
				}
				dd {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	section.destacados {
		.restaurantes {
			li {
				h2 {
					margin: 0 0 28px 0;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	section.destacados {
		.restaurantes {
			height: 364px;
		}
	}
}

@media (max-width: 991px) {
	section.destacados {
		.restaurantes {
			li {
				h2 {
					padding: 20px 15px 0 15px;
				}
				dl {
					padding: 0 15px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	section.destacados {
		.restaurantes {
			height: 364px;
			li {
				h2 {
					padding: 30px 15px 0 15px;
				}
				dl {
					padding: 0 30px;
				}
			}
		}
	}
}



@media (min-width: 768px) and (max-width: 1280px) {
	section.destacados {
		.restaurantes {
			li {
				width: 25%;
			}
		}
	}
}

@media (min-width: 1281px) and (max-width: 1680px) {
	section.destacados {
		.restaurantes {
			li {
				width: 20%;
			}
		}
	}
}

@media (min-width: 1681px) and (max-width: 1920px) {
	section.destacados {
		.restaurantes {
			li {
				width: 16,66666666666667%;
			}
		}
	}
}

@media (min-width: 1921px) {
	section.destacados {
		text-align: center;
		h1 {
			text-align: left;
		}
		.restaurantes {
		}
	}
}