section.palabaras-claves {
	margin-bottom: 18px;
	.row {
		margin: 0;
		&>div {
			padding: 0;
		}
	}
	h1 {
		font-size: 22px;
		font-weight: 400;
		margin: 15px 0 22px 0;
		span {
			font-weight: 600;
		}
	}
	form {
		border: 1px solid $color-t5;
		padding: 5px;
		.form-group {
			input {
				background: #FFFFFF;
				border: none;
				padding: 0 15px;
			}
			width: 65%;
		}
		input {
			height: 32px;
		}
		.btn {
			font-size: 15px;
			font-weight: 700;
			padding-left: 10px;
			padding-right: 10px;
			float: right;
			width: 30%;
		}
		::-webkit-input-placeholder {
			font-style: italic;
		}

		:-moz-placeholder {
			font-style: italic;
		}

		::-moz-placeholder {
			font-style: italic;
		}

		:-ms-input-placeholder {
			font-style: italic;
		}
	}
	blockquote {
		background: $color-t2;
		border: 1px solid $color-t5;
		border-top: none;
		color: #FFFFFF;
		height: 246px;
		margin: 0;
		padding: 0 0 44px 0;
		position: relative;
		header,
		p,
		footer {
			padding-left: 20px;
			padding-right: 20px;
		}
		header {
			border-bottom: 1px solid #3d3d3d;
			padding-bottom: 14px;
			padding-top: 12px;
			cite {
				display: block;
				font-size: 15px;
				overflow: hidden;
				padding-right: 90px;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		p {
			color: $color-t5;
			font-size: 15px;
			line-height: 23px;
			font-weight: 400;
			margin-top: 5px;
			max-height: 138px;
			overflow-y: auto;
			span {
				color: #ffff00;
			}
		}
		footer {
			border-top: 1px solid #3d3d3d;
			bottom: 0;
			height: 44px;
			left: 0;
			position: absolute;
			width: 100%;
			time {
				color: $color-t4;
				display: block;
				font-size: 15px;
				line-height: 40px;
				&:before {
					content: "\e023";
					color: $color-t4;
					font-family: "Glyphicons Halflings";
					margin-right: 10px;
					position: relative;
					top: 2px;
				}
			}
		}
	}
	div.navegacion {
		right: 8px;
		position: absolute;
		top: 119px;
		z-index: 11;
		p,
		div {
			color: $color-t5;
			display: inline-block;
		}
		p {
			font-size: 15px;
			margin-right: 4px;
		}
		div {
			cursor: pointer;
			position: relative;
			top: 3px;
			&:before {
				font-family: "Glyphicons Halflings";
			}
			&:hover {
				color: $color-v1;
			}
		}
		.avanzar-comentario {
			&:before {
				content: "\e114";
			}
		}
		.retroceder-comentario {
			&:before {
				content: "\e113";;
			}
		}
	}
	aside {
		border: 1px solid $color-t5;
		position: relative;
		li {
			height: 288px;
			overflow: hidden;
			position: relative;
			a {
				color: $color-t1;
				display: block;
				height: 100%;
			}
			div {
				left: 0;
				padding-left: 20px;
				padding-right: 20px;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 11;
				&:before {
					content: "";
					background: #ececec;
					height: 100%;
					left: 0;
					opacity: 0.75;
					filter: alpha(opacity=75);
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 1;
				}
			}
			h2,
			dl {
				position: relative;
				z-index: 11;
			}
			h2 {
				font-size: 20px;
				font-weight: 600;
				margin: 15px 0 10px 0;
			}
			dl {
				margin: 0;
				padding-bottom: 10px;
			}
			dd {
				font-size: 13px;
				display: inline-block;
				padding-right: 15px;
				&:before {
					margin-right: 4px;
					position: relative;
					top: 2px;
				}
			}
			img {
				left: 0;
				position: absolute;
				top: 0;
				z-index: 1;
			}
		}
	}
}

@media (max-width: 767px) {
	section.palabaras-claves {
		form {
			height: 32px + 12;
			.form-group {
				float: left;
				margin: 0;
			}
		}
		aside {
			border-top: none;
		}
	}
}

@media (min-width: 768px) {
	section.palabaras-claves {
		h1 {
			white-space: nowrap;
		}
		aside {
			border-left: none;
			margin-top: 62px;
		}
	}
}